*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#container1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80%;
    padding-left: 5%;
    gap: 5%;
    background-color: hsl(244, 38%, 16%)
}

#insights{
    color: purple
}

#container2{
    flex: 1;
    height: 80%;
    background-color: hsl(277, 64%, 61%);
}

#container2 img{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: .5;

    
}

#text_container1{
    flex: 1;
    width: 90%;
    font-size: 2em;
    margin-top: 10%;
    color: white;
}

#text_container2{
    flex: 1;
    width: 100%;
    text-align: center;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: -10%;
}

#text_container2 p{
    width: 70%;
    font-size: 1.3em;
}

#text_container3{
    display: flex;
    flex: 1;
    width: 100%;
    align-items:flex-start;
    
}

#text_container3 p{
    margin-top:5%;
}

#text_container3 h1{
    color: white;
}

#text_container3 p{
    color: hsla(0, 0%, 100%, 0.6)
}
#bottom_text1{
    flex: 1;
    width: 25%;

}

#bottom_text2{
    flex: 1;
    width: 25%;
    
}

#bottom_text3{
    flex: 1;
    width: 25%;
    
}

